.subscribe-button{
    background-color: red;
    color: white;
    border: none;
    width: 105px;
    height: 36px;
    border-radius: 2px;
    cursor: pointer;
}

.subscribe-button:hover{
    /* background-color: green; */
    opacity: 0.8;
}

.subscribe-button:active{
    /* background-color: blue; */
    opacity: 0.5;
}

.join-button{
    background-color: white;
    border-color: blue;
    border-radius:2px;
    border-width: 1px;
    border-style: solid;
    color:blue;
    height:36px;
    width:62px;
    cursor:pointer;
    margin: 10px;
    transition: background-color 0.15s,
    color 0.15s;
}

.join-button:hover{
    background-color: blue;
    color: white;
}

.tweet-button{
    background-color: rgb(22, 115, 236);
    color: white;
    border: none;
    width: 105px;
    height: 36px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.tweet-button:hover{
/* box-shadow: 5px 5px 5px black; */
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}







